*/config/development
*/logs/log-*.php
!*/logs/index.html
*/cache/*
!*/cache/index.html
!*/cache/.htaccess
/ci/nbproject/private/
.DS_Store
.tmp
.sass-cache
coverage
*.swp
*.swo
*.log
*.DS_Store
*www/build/main.js
*www/build/main.js.map
www/build/main.js
ci/.DS_Store
www/build/main.js.map
vendor/*
