*/config/development
*/logs/log-*.php
!*/logs/index.html
*/cache/*
!*/cache/index.html
!*/cache/.htaccess
/ci/nbproject/private/
.DS_Store
node_modules
www
.tmp
.sass-cache
coverage
platforms
plugins
*.swp
*.swo
*.log
*.DS_Store
*www/build/main.js
*www/build/main.js.map