<ion-header>
  <ion-navbar>
  </ion-navbar>
  <ion-toolbar color="secondary">
    <ion-title>Services</ion-title>
  </ion-toolbar>
</ion-header>


<ion-content padding>
  <form #form="ngForm" (ngSubmit)="submitForm(form)">
    <ion-item>
      <ion-label>Search:</ion-label>
      <ion-input 
      #term="ngModel" 
      required type="text" 
      class="form-container" 
      name="term" 
      [ngModel]="model.term" 
      (ngModelChange)="model.term=$event">
      </ion-input>
    </ion-item>
    <ion-item>
      <ion-label>Zipcode:</ion-label>
      <ion-input 
      #location="ngModel" 
      required type="number" 
      class="form-container" 
      name="location" 
      [ngModel]="model.location" 
      (ngModelChange)="model.location=$event">
      </ion-input>
    </ion-item>
    <button ion-button type="submit" block>Search</button>
  </form>
  <!-- Form validation -->
  <p ion-text color="danger" *ngIf="term.invalid && term.dirty" class="alert-validation">
    Search Input is required
  </p>
  <p ion-text color="danger" *ngIf="location.invalid && location.dirty" class="alert-validation">
    Invalid Zipcode
  </p>

  <!--
  <div padding>
    <h4>Test return json from yelp</h4>
  </div>
  -->
  
  <!--We'll need to use infinitescroll if we want to later be able to keep pulling in
      more results, but currently top 20.
  -->

  <!--For future reference use the ? elvis operator with ngIf,-->
  <!--when calling on response json data-->
  <p ion-text color="danger" class="alert-noresult" *ngIf="(results?.length==0)">No Health Services Found.</p>
  <ion-list>
    <a button ion-item *ngFor="let result of results" (click)="serviceClicked($event, result)" detail-push>
        <h2>{{result.name}}</h2>
        <h4>rating: {{result.rating}}/5</h4>   
    </a>
  </ion-list>

  <!-- 
  Detail Push is technically not following material design,-
  but it looks way better for usability, 
  especially for this app's older userbase.
  -->

<!-- Show model for testing-->
Model: {{ model | json }}
</ion-content>
