<ion-header>
  <ion-navbar class="show-back-button">
  </ion-navbar>
  <ion-toolbar color="secondary">
    <ion-buttons end>
      <button ion-button icon-only (click)="goBack()">
        <ion-icon name="arrow-back"></ion-icon>
      </button>
    </ion-buttons>
    <ion-title>Details</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>

    <ion-grid> 
      <ion-row small>
        <ion-col>
          <p ion-text>{{drug?.data.display}}</p>
          <p ion-text>
            <br><span class="highlight-secondary">Dosage:</span> {{drug?.data.dosage}}
            <br><span class="highlight-secondary">Form:</span> {{drug?.data.form}}
            <br><span class="highlight-secondary">Quantity:</span> {{drug?.data.quantity}}
          </p>
        </ion-col>
      </ion-row>
    
      <ion-row>
        <ion-col width-100>
          <hr />
          <h5>Price Comparison</h5>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col width-50>
          <h5 ion-text color="secondary">Pharmacy:</h5>
        </ion-col>
         <ion-col width-50>
           <h5 ion-text color="secondary">Price:</h5>
        </ion-col>
      </ion-row>
      <ion-row>
          <ion-col width-50>
            <ion-item item-left *ngFor="let store of stores">
              <p>{{store}}</p>
            </ion-item>
          </ion-col>
          <ion-col width-50>
            <ion-item item-left *ngFor="let price of prices">
              <h3>${{price}}</h3>
            </ion-item>
          </ion-col>
      </ion-row>
      <ion-row>
        <ion-col width-100>
          <p class="text-warning-disclamor" ion-text color="secondary"><strong>About Price Comparison:</strong> Price comparisons may not accuretly reflect local prices; but it does show the 3 lowest cash prices for a given prescription drug from a basket of nationwide pharmacy chains,</p>
        </ion-col>
      </ion-row>
    </ion-grid>
    
</ion-content>


<!-- Michael's backup code left here incase you needed it again-->
<!--<h1>{{productToGetDetails}}</h1>
    <ion-list>
      <ion-item item-left *ngFor="let price of combinedArray" >
        <p>Costs $ {{price}}</p>
      </ion-item>   
</ion-list>-->

<!--
<ion-content padding>
  <ion-list>
    <ion-item item-left *ngFor="let store of stores">
      <p>Store: {{ store }} Price: {{ prices }}</p>
    </ion-item>
  </ion-list>
</ion-content>
-->