page-product-detail{
  .card {
    box-shadow: 0 0px 0px rgba(0, 0, 0, 0); }

  .text-warning-disclamor {
    font-size: 12px;
  }

  .highlight-secondary {
    color: map-get($colors, secondary);
  }

  .highlight-goodrx {
    color: map-get($colors, dark);
    font-size: 10px;
  }

  .goodrx-img{
    background-color: transparent;
    border: none;
    float: right; 
    position: static;
  }
}
