<ion-header>
  <ion-navbar class="show-back-button">
  </ion-navbar>
  <ion-toolbar color="secondary">
    <ion-buttons end>
      <button ion-button icon-only (click)="goBack()">
        <ion-icon name="arrow-back"></ion-icon>
      </button>
    </ion-buttons>
    <ion-title>Details</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>

    
    <p ion-text class="alert-no-result" *ngIf="(success == false)">Sorry, no price data was found.</p>
    <ion-grid *ngIf="(success == true)" no-padding>   
      <ion-item text-wrap no-padding>
        <ion-row>
          <ion-col>
            <h1 ion-text>{{drug?.data.display}}</h1>
          </ion-col>
        </ion-row>
        
        <ion-row>
            <ion-col width-70>
              <p item-left *ngFor="let store of stores">
                {{store}}
              </p>
            </ion-col>
            <ion-col width-30>
              <p item-right *ngFor="let price of prices">
                ${{price}}
              <p>
            </ion-col>
        </ion-row>
      </ion-item>

      <ion-item no-padding>
      <ion-row>
        <ion-col>
          <h2 ion-text>Product Information</h2>
          <p ion-text>
            <br><span class="highlight-secondary">Dosage:</span> {{drug?.data.dosage}}
            <br><span class="highlight-secondary">Form:</span> {{drug?.data.form}}
            <br><span class="highlight-secondary">Quantity:</span> {{drug?.data.quantity}}
          </p>
        </ion-col>
      </ion-row>
      </ion-item>
    </ion-grid>
    
    <!-- Required from GoodRx -->
    <p ion-text >
      <br><a href="https://www.goodrx.com" class="highlight-goodrx">Powered by GoodRx</a>
    </p>
</ion-content>