<ion-header>
  <ion-navbar class="show-back-button">
  </ion-navbar>
  <ion-toolbar color="secondary">
    <ion-buttons end>
      <button ion-button icon-only (click)="goBack()">
        <ion-icon name="arrow-back"></ion-icon>
      </button>
    </ion-buttons>
    <ion-title>UMB Profile</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-card>
    <ion-card-header color="primary">
        <ion-icon item-left name="person"></ion-icon> Account Info
    </ion-card-header>
    <ion-item text-wrap>
      <div>
        <p>First Name: {{userinfo.first_name}}</p>
      </div>
    </ion-item>
    <ion-item text-wrap>
      <div>
        <p>Last Name: {{userinfo.last_name}}</p>
      </div>
    </ion-item>
    <ion-item text-wrap>
      <div>
        <p>Email: {{userinfo.email}}</p>
      </div>
    </ion-item>
    <ion-item text-wrap>
      <div>
        <p *ngIf="(userinfo?.is_enabled==1)">Account Status: Active</p>
        <p *ngIf="(userinfo?.is_enabled==0)">Account Status: Inactive</p>
      </div>
    </ion-item>
  </ion-card>

  <ion-card>
    <ion-card-header color="primary">
        <ion-icon item-left name="settings"></ion-icon> Account Settings
      </ion-card-header>
      <ion-item text-wrap>
        <div>
          <p>For user security, we would like you to contact us directly to make any changes to your HSA/FSA accounts or UMB account.</p>
        </div>
      </ion-item>
      <a ion-item href="https://hsa.umb.com/contact-us">
        <div>
          <h4>Contact Us</h4>
        </div>
      </a>
  </ion-card>

</ion-content>



<!--<ion-icon item-left name="call"></ion-icon>-->