<ion-header>

  <ion-navbar>
    <ion-title>Receipt Form</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
  <ion-list>
    <ion-item *ngFor= "let product of searchJson">
      <h2>Product Name: {{ product.amount }}</h2>
      <p>Product Price: {{ product.item }}</p>
    </ion-item>
  </ion-list>

   <!--Receipt Confirm--> 
  <form #form="ngForm" (ngSubmit)="receiptForm(form)">
    <ion-item>
      <ion-label>Enter your receipt's total:</ion-label>
      <ion-input 
      #totalPrice="ngModel" 
      required type="string" 
      class="form-container" 
      name="totalPrice" 
      [ngModel]="model.totalPrice" 
      (ngModelChange)="model.totalPrice=$event">
      </ion-input>
    </ion-item>
    <ion-list-header>Type of Transaction:</ion-list-header>
    <ion-item>
      <ion-label>Enter HSA or FSA:</ion-label>
      <ion-input 
      #totalPrice="ngModel" 
      required type="string" 
      class="form-container" 
      name="accountType" 
      [ngModel]="model.accountType" 
      (ngModelChange)="model.accountType=$event">
      </ion-input>
    </ion-item>
    <button ion-button type="submit" block> Confirm </button>

  </form>
  
  <ion-item text-wrap *ngIf="(inputcorrect == false)">
      <p>Wrong Input!</p>
  </ion-item>

  


</ion-content>