<ion-header>
  <ion-navbar class="show-back-button">
  </ion-navbar>
  <ion-toolbar color="secondary">
    <ion-buttons end>
      <button ion-button icon-only (click)="goBack()">
        <ion-icon name="arrow-back"></ion-icon>
      </button>
    </ion-buttons>
    <ion-title>Add HSA</ion-title>
  </ion-toolbar>
</ion-header>


<ion-content padding>
  <form #form="ngForm" (ngSubmit)="addHsaForm(form)">
    <ion-item>
      <ion-label>Account Number:</ion-label>
      <ion-input 
      #fname="ngModel" 
      required type="number" 
      class="form-container" 
      name="account_number"
      [ngModel]="model.account_number" 
      (ngModelChange)="model.account_number=$event">
      </ion-input>
    </ion-item>
    <button ion-button type="submit" block>Add HSA Account</button>
  </form>
    <!--Error/Success Checks-->
    <ion-item text-wrap *ngIf="(successStatus == false)">
      <p>Could not add HSA account, try a different account number.</p>
    </ion-item>
    
    <ion-item text-wrap *ngIf="(successStatus == true)">
      <p>Adding account, this may take a few minutes to update in your view.</p>
    </ion-item>
    
</ion-content>
