<!--
  Generated template for the MyVault page.

  See http://ionicframework.com/docs/v2/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
  </ion-navbar>
  <ion-toolbar color="secondary">
    <ion-searchbar></ion-searchbar>
    <ion-buttons end>
      <button ion-button icon-only (click)="goBack()">
        <ion-icon name="arrow-back"></ion-icon>
      </button>
    </ion-buttons>
  </ion-toolbar>

</ion-header>


<ion-content padding>
  <h1>Your Reciept Data</h1>

  <ion-list>
    <!--<button ion-item item-left (click)="loadReciept()">
      <h2 id = "recieptDate">"Receipt date"</h2>
      <p id = "detailNotes">"Notes about reciept"</p>
      <ion-icon name="arrow-forward" item-right></ion-icon>
    </button>
    <button ion-item item-left (click)="loadReciept()">
      <h2>"Receipt date 2"</h2>
      <p>"Notes about reciept 2"</p>
      <ion-icon name="arrow-forward" item-right></ion-icon>
    </button> -->
    <button ion-item item-left (click)="loadReciept()" *ngFor="let receipt of receipts">
      <h2> DateTime: {{ receipt.title }}</h2>
      <p>Id: {{ receipt.id }}</p>
      <p *ngFor="let subreceipt of receipt.receipt">
        Title: {{ subreceipt.title }} - Id: {{ subreceipt.id }}
      </p>
    </button>
  </ion-list>
</ion-content>
