<ion-header>
  <ion-navbar>
  </ion-navbar>
  <ion-toolbar color="secondary" hide-on-scroll="true">
    <ion-title>Accounts</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  
    <!--Hello Card-->
    <ion-card>
      <button ion-item (click)="loadUserSettingsDetails()">
        <div *ngIf="userLoggedIn==true">Hello, {{loggedInUser}}</div>
        <!--<ion-icon name="person" item-left></ion-icon>-->
        <div *ngIf="userLoggedIn==false">Hello, Shit</div>
      </button>
    </ion-card>
    
    <!--HSA Card Area-->
    <ion-card *ngFor="let userhsa of userhsas">
      <button ion-item *ngIf="userHasHSA==true" (click)="loadHsaAccountDetails($event, accountType)">
        <div>
          <h3 class="account-header" *ngIf="(userhsa?.account_type=='HSA')">Health Spending Account</h3>
          <h4 class="account-number">Account#: {{userhsa.account_number}}</h4>
        </div>
      </button>
      <!--Probably will change to another type of check..-->
      <button ion-item *ngIf="userHasHSA==false">
        <div>
          <h4 class="account-number">Tap here to add an HSA</h4>
        </div>
      </button>
    </ion-card>
    
    <!--FSA Card Area-->
    <ion-card *ngFor="let userfsa of userfsas">
      <button ion-item *ngIf="(userfsa?.account_number>=1)" (click)="loadFsaAccountDetails($event, accountType)">
        <div>
          <h3 class="account-header" *ngIf="(userfsa?.account_type=='FSA')">Flexible Spending Account</h3>
          <h4 class="account-number">Account#: {{userfsa.account_number}}</h4>
        </div>
      </button>
      <!--Probably will change to another type of check..-->
      <button ion-item *ngIf="(userfsa?.account_number==NULL)">
        <div>
          <h4 class="account-number">Tap here to add an FSA</h4>
        </div>
      </button>
    </ion-card>

     <!--Support Card Area-->
    <ion-card>
      <ion-card-header color="primary">
        <ion-icon item-left name="call"></ion-icon> Support
      </ion-card-header>
      <button ion-item (click)="loadHelpPage()">
        <div>
          <h4 class="account-support">Tap here for general help</h4>
        </div>
      </button>
      <button ion-item (click)="loadTaxHelpPage()">
        <div>
          <h4 class="account-support">Tap here for tax help</h4>
        </div>
      </button>
    </ion-card>

    <ion-card>
      <ion-card-header color="primary">
        <ion-icon item-left name="information-circle"></ion-icon> About
      </ion-card-header>
      <button ion-item (click)="loadAboutPage()">
        <div>
          <h4 class="account-support">Tap here for more info about this app</h4>
        </div>
      </button>
    </ion-card>

  <!--Return to login page-->
  <button ion-button (click)="loginTest()">Debug Login Back</button>
  <button ion-button (click)="logoutTest()">Debug Logout</button>
  
  <!--
  <button ion-button (click)="loadHsaAccountDetails($event, accountType)">Load HSA Details Page</button>
  -->
  <!--FSA Broken right now for user umbcapstone17@gmail.com
  -->
  <!--<button ion-button (click)="loadFsaAccountDetails($event, accountType)">Load FSA Details Page</button>
  -->
  
</ion-content>
