<ion-header>
  <ion-navbar>
  </ion-navbar>
  <ion-toolbar color="secondary">
    <ion-title>Search Products</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-searchbar
    [showCancelButton]="shouldShowCancel"
    (ionInput)="getProducts($event)"
    debounce = 1500>
  </ion-searchbar>
  
  <p ion-text class="alert-empty-search-bar" *ngIf="(searchEmpty == true)">Search for prescription drugs<br>and compare prices.</p>
  
  <!--<ion-list class="padding-horizontal">-->
  <ion-list no-padding>
    <a button ion-item item-left (click)="loadProductDetail(product)" *ngFor="let product of searchJson" detail-push>
      <h2>{{product}}</h2>
    </a>
  </ion-list>
</ion-content>
