page-products{
  .padding-horizontal {  
    padding: 0px 10px; 
  }

  .alert-empty-search-bar{
    color: map-get($colors, dark);
    text-align: center;
  }
  .goodrx-img{
    background-color: transparent;
    border: none;
    float: right; 
    position: static;
  }
}


